# URL de l'application Web Google Apps Script pour collecter les données du Chatbot M84
# VITE_GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwmTBJNJpOTMdAtVqaPo1qE3vvxoQ9xSI39sRac8J9kYcyPf-zK4tIP4qs4gn6FFWYPpg/exec
VITE_GOOGLE_SHEET_WEBHOOK_URL=
