# URL de l'application Web Google Apps Script pour collecter les données du Chatbot M84
# VITE_GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwaVrbXeytQ4J2SiMtXtEVmULicYOuAxg_rgGqRLNAx5Duup7S2IhlvwMEGY93nsuFF0w/exec
VITE_GOOGLE_SHEET_WEBHOOK_URL=
